body {
    background-color: #171717; /* Dark background color */
    color: #e0e0e0; /* Light text color */
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* Light color for headers */
}

a {
    color: #bb86fc; /* Light color for links */
}

a:hover {
    color: #3700b3; /* Different color for links when hovered */
}

img {
    max-width: 100%; /* Ensure images do not overflow the page */
    height: auto;
}

.container {
    padding: 20px;
}
